.calendar-section
    .calendar-section__block-classes
        .calendar-section__block-header
            .title Мастер-классы
        .calendar-section__block-slider.calendar-section__block-slider--js.swiper
            .swiper-wrapper
                .swiper-slide
                    include ../../jumbo-card/jumbo-card-time
                .swiper-slide
                    include ../../jumbo-card/jumbo-card-time
                .swiper-slide
                    include ../../jumbo-card/jumbo-card-time
    .calendar-section__block-weeks
        .calendar-section__block-header
            .title Тематические недели
        .calendar-section__card-list 
            include ../../card/card-time
            include ../../card/card-time
            include ../../card/card-time