.promo-card.promo-card--pink(style="background-image: url('img/promo-card/promo-pink.jpg')")
    .promo-card__content
        .promo-card__description 
            .promo-card__description-header
                .title —35% на персональную программу
                .promo-card__description-text Прогрессируйте быстрее на&nbsp;пути к&nbsp;созданию подтянутого и&nbsp;здорового тела с&nbsp;персональной программой
            .promo-card__description-button
                +button-link('Подробнее', 'button--full-width button--secondary button--secondary-pink')