label.switch
    span.switch__info
        span.switch__info-title Получать напоминания
        span.switch___info-description Пришлём ссылку с напоминанием за 15 минут до начала
    input(type="checkbox" name= name, value= value, id= id)
    span.switch__checkbox-wrapper
        span.switch__checkbox-toggle