include mixins/svg
include snackbar/snackbar

include button/button
include pill/pill
include mixins/svg

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/style.css")
        title Telegram Mini App 
        meta(name="description", content="Telegram Mini App")
        meta(name="keywords", content="Telegram Mini App")

        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")




    body.unscrollable
        .app
            .app__content
                include sections/calendar-section/calendar-section
                include bottom-sheet/bottom-sheet-anouncement-full-price

            .app__nav-bar
                .app__nav-bar-content
                    include nav-bar/nav-bar

        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
        script(src="js/main.js")
        
        