.achieve-section
    .achieve-section__image(style="background-image: url('img/product/telegram.webp')")
    .achieve-section__content
        .achieve-section__header 
            .achieve-section__title
                .title Присоединяйтесь к сообществу Pilates Flow
            p.description В сообществе показываем, как эффективно решить проблемы со спиной и создать подтянутое тело.
        .achieve-section__block
            .achieve-section__block-header
                .title Получите рационы питания в подарок при подписке
            ul
                li Полноценный недельный рацион, включающий в себя все пищевые группы.
                li Рацион сбалансирован и учитывает потребности организма в основных микро и макроэлементах (витаминах и минералах, а также жирах, белках и углеводах)
                li Формирование здоровой и разнообразной микрофлоры кишечника начинается со сбалансированного питания.

            

    .achieve-section__footer-fixed 
        +button('Проверить подписку', 'button--full-width')