.achieve-section
    .achieve-section__image(style="background-image: url('img/card/card.webp')")
        .achieve-section__pill
            +pill('','8 Января, 11:00 Мск')
    .achieve-section__content
        .achieve-section__header 
            .achieve-section__title
                .title Как создать подтянутое тело без изнуряющих тренировок
            p.description Участники сообщества Pilates Flow всегда рады поддержать новичков и поделиться мотивацией. А эксперты раскрывают  секреты, как добиться результатов быстрее и эффективнее
        .achieve-section__notice-block
            label.switch
                span.switch__info
                    span.switch__info-title Получать напоминания
                    span.switch__info-description Пришлём ссылку с напоминанием за 15 минут до начала
                input(type="checkbox" name= name, value= value, id= id checked)
                span.switch__checkbox-wrapper
                    span.switch__checkbox-toggle

        