.anouncement-section
    .anouncement-section__image 
        .anouncement-section__image-pill 
            +pill('', '8 Января, 11:00 Мск') 
        img(src="img/card/card.jpg", alt="Cоздать подтянутое тело")

    .anouncement-section__title 
        h1.title Как создать подтянутое тело без изнуряющих тренировок

    .anouncement-section__description
        p.text Участники сообщества Pilates Flow всегда рады поддержать новичков и поделиться мотивацией. А эксперты раскрывают  секреты, как добиться результатов быстрее и эффективнее

    .anouncement-section__fixed-block
        .anouncement-section__fixed-block-container
            +button('Присоединиться бесплатно', 'button--full-width button--l')